@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&family=Yantramanav:wght@100&display=swap');

@keyframes fader {
   0% {
      color: #FDFDFB00;
   }

   100% {
      color: #FDFDFBFF;
   }
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1B1E26;
   cursor: default;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}                       /* GENERAL RULES */

#display {                    /* PROMPT AND COUNTER  CONTAINER */
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 50%;
   align-items: center;
}

   #title {                 /* PROMPT */
      text-align: center;
      font-size: 3.6vw;
      font-family: 'Work Sans', sans-serif;
      font-weight:  100;
      color: #FDFDFB;
      width: 100vw;
      height: 10vh;
   }

   #counter {                 /* COUNTER */
      text-align: center;
      font-size: 10vw;
      font-family: 'Yantramanav', sans-serif;
      font-weight:  400;
      line-height: 25vh;
      width: 20vw;
      min-width: 200px;
      height: 25vh;
      min-height: 110px;
      color: #FDFDFB;
      background-color: #272931;
      border-radius: 10px;
      box-shadow: inset 5px 5px 5px #22242C;
   }

   .changedCounter {          /* COUNTER ON CLICK */
      animation: fader 0.2s linear;
   }


#buttons {                    /* BUTTONS CONTAINER */
   display: flex;
   width: 20vw;
   justify-content: center;
   background-color: #22242C;
   border-radius: 10px;
   box-shadow: inset 0px 2px 5px #272931;
}

   .button {            /* EACH BUTTON */
      width: 10vw;
      height: 10vh;
      margin: 0.5vw;
      cursor: pointer;
      border: none;
      background-color: #272931;
      border-radius: 10px;
      font-size: 4vw;
      font-family: 'Yantramanav', sans-serif;
      position: relative;
      overflow: hidden;
      color: var(--button-color);
   }

      .button::after {           /* GLASS REFLECTION */
         content: '';
         position: absolute;
         width: 300px;
         height: 300px;
      	background: radial-gradient(var(--button-color), #3984ff00 50%);
         top: calc(var(--y, 0) * 1px - 150px);
         left: calc(var(--x, 0) * 1px - 150px);
         opacity: 0;
         transition: opacity 0.1s;
      }

         .button:hover::after {     /* GLASS REFLECTION ON HOVER */
            opacity: 0.1;
         }

         .pressedButton:hover::after { /* GLASS REFLECTION ON CLICK */
            opacity: 0.15;
         }

      #decreaseButton {                /* DECREASE BUTTON */
         --button-color: #EE6767;      /* RED */
      }

      #increaseButton {                /* INCREASE BUTTON */
         --button-color: #26FBD4;      /* GREEN */
      }
